* {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

#display {
  grid-area: display;
  background-color: lightgrey;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}

#equals {
  grid-area: equals;
  background-color: cornflowerblue;
  border-radius: 10px;
}

#clear, #decimal {
  background-color: palevioletred;
  border-radius: 10px;
}

.operator {
  background-color: lightgreen;
  border-radius: 10px;
}

.number {
  background-color: lightyellow;
  border-radius: 10px;
}

#calculator {
  height: 70vh;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  background-color: darkgray;
  display: grid;
  grid-template-areas: "display display display display" "seven eight nine divide" "four five six multiply" "one two three minus" "clear zero decimal plus" "equals equals equals equals";
  gap: 10px;
}